/* Variables */
/* Uso de Mapa para los paddings aplicado en la pagina WORKS*/
.pad-xlarge {
  padding: 5rem; }

.pad-large {
  padding: 3rem; }

.pad-medium {
  padding: 2rem; }

.pad-small {
  padding: 1.5rem; }

.pad-xsmall {
  padding: 1rem; }

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* GLOBALS */
html {
  font-size: 62.5%; }

body {
  min-height: 100vh;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto; }

ul {
  list-style-type: none; }

/* Helpers */
/* Uso de mixin aplicado en los 5 header y footer*/
.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  margin: 0 auto;
  justify-content: space-between; }

header {
  background-color: #525E75;
  box-shadow: -1rem 0 1rem gray; }
  header .navbar {
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 0 2rem; }
    header .navbar-nav {
      display: flex;
      flex-direction: row=0;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
      flex-wrap: nowrap; }
      header .navbar-nav .nav-item {
        font-size: 1.6em;
        color: #ffffff;
        transition: background-color .3s ease-in-out; }
        header .navbar-nav .nav-item .active {
          border-bottom: 2px solid #ffffff; }
        header .navbar-nav .nav-item:hover {
          background-color: #ffffff99; }

.col-container {
  display: table;
  width: 100%; }

.col {
  display: table-cell;
  padding: 16px; }

@media only screen and (max-width: 480px) {
  .col {
    display: block;
    width: 100%; } }

.containerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 0 2rem; }

.card-container {
  display: flex;
  width: 80rem;
  height: auto;
  font-size: 1.6em;
  color: #000;
  background: #C3DBD9;
  border-radius: 2px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2); }

.headerCard {
  border-right: 1px solid #ddd; }

.descriptionCard {
  background: #C3DBD9; }

.headerCard, .descriptionCard {
  padding: 2rem;
  text-align: center; }

.headerCard a {
  position: relative;
  display: block; }

.headerCard img {
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.06);
  margin: 2rem 3rem;
  transition: .2s; }

.headerCard a:hover img {
  box-shadow: 0 0 0 12px rgba(0, 0, 0, 0.01); }

.headerCard h2 {
  color: #000; }

.headerCard h4 {
  margin-bottom: 2rem; }

.descriptionCard {
  position: relative; }

.descriptionCard p {
  margin: 2rem 3rem; }

@media (max-width: 480px) {
  .containerBox {
    height: 60vh; }
  .card-container {
    display: block;
    width: 45rem;
    font-size: 1.3em;
    transform: scale(0.8); }
  .headerCard {
    padding: 2rem 2rem .5rem 2rem; }
  .descriptionCard {
    padding: 0.5rem 2rem 2rem 2rem;
    background: transparent; }
  .headerCard h4 {
    margin: 0; } }

/* Atributos de la seccion ABOUT */
.heading span {
  display: block; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem; }

.gallery-item {
  flex: 1 0 24rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden; }

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out; }

.gallery-image:hover {
  transform: scale(1.15); }

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem; }
  .gallery,
  .gallery-item {
    margin: 0; } }

.service {
  margin: 5rem auto;
  width: 100%;
  min-height: 100vh; }
  .service .card {
    padding: 1rem; }

/* Atributos de la seccion CONTACT */
.contactForm {
  font-size: 1.3em;
  color: black;
  margin: 0 auto;
  background-color: #C3DBD9;
  border: 3px solid black;
  border-style: double;
  border-radius: 2rem;
  box-shadow: -1rem .5rem 1rem gray; }
  .contactForm form input {
    outline: none; }
  .contactForm form textarea {
    outline: none; }
  .contactForm .btn {
    background-color: #ffffff;
    color: black;
    font-size: 1em;
    border-radius: 1rem;
    border-color: black; }

@media screen and (max-width: 576px) {
  .contactForm {
    transform: scale(0.8); } }

@media screen and (max-width: 480px) {
  .contactForm {
    transform: scale(0.8); } }

/* Atributos sobre el footer */
footer {
  background-color: #789395;
  padding: 1.2rem 0.31rem;
  min-height: 10vh; }
  footer .footer {
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; }
  footer .disclaimer {
    color: #ffffff;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center; }
  footer .socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap; }
    footer .socialMedia__link {
      width: 4em;
      height: 4em; }

@media screen and (max-width: 576px) {
  footer .disclaimer {
    font-size: 1em; }
  footer .socialMedia {
    transform: scale(0.8); } }

@media screen and (max-width: 480px) {
  footer .disclaimer {
    font-size: 1em; }
  footer .socialMedia {
    transform: scale(0.8); } }
