/* Variables */
/* Uso de Mapa para los paddings aplicado en la pagina WORKS*/
.pad-xlarge {
  padding: 5rem; }

.pad-large {
  padding: 3rem; }

.pad-medium {
  padding: 2rem; }

.pad-small {
  padding: 1.5rem; }

.pad-xsmall {
  padding: 1rem; }

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* GLOBALS */
html {
  font-size: 62.5%; }

body {
  min-height: 100vh;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto; }

ul {
  list-style-type: none; }

/* Helpers */
/* Uso de mixin aplicado en los 5 header y footer*/
.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  margin: 0 auto;
  justify-content: space-between; }

header {
  background-color: #525E75;
  box-shadow: -1rem 0 1rem gray; }
  header .navbar {
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 0 2rem; }
    header .navbar-nav {
      display: flex;
      flex-direction: row=0;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
      flex-wrap: nowrap; }
      header .navbar-nav .nav-item {
        font-size: 1.6em;
        color: #ffffff;
        transition: background-color .3s ease-in-out; }
        header .navbar-nav .nav-item .active {
          border-bottom: 2px solid #ffffff; }
        header .navbar-nav .nav-item:hover {
          background-color: #ffffff99; }

.containerCard {
  width: 100%;
  display: flex;
  max-width: 110rem; }
  .containerCard .card {
    width: 100%;
    margin: 2rem;
    border-radius: .8rem;
    overflow: hidden;
    background: #c3dbd9;
    box-shadow: 0px 0.1rem 1rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 400ms ease; }
    .containerCard .card:hover {
      box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.6);
      transform: translateY(-3%); }
    .containerCard .card img {
      width: 100%;
      height: 21rem; }
    .containerCard .card .content {
      padding: 1.5rem;
      text-align: center; }
      .containerCard .card .content h3 {
        color: #000;
        font-weight: 400;
        margin-bottom: 1.5rem; }
      .containerCard .card .content p {
        color: #000;
        line-height: 1.5;
        font-size: 1.3em; }

.cardAbout {
  width: 60rem;
  height: auto;
  display: flex;
  overflow: hidden;
  background-color: #c3dbd9;
  box-shadow: 0 .5rem 1rem gray;
  border-radius: 1rem; }
  .cardAbout:hover {
    transform: scale(1.02); }
  .cardAbout .image-section {
    width: 40%;
    height: 100%;
    padding: 2rem; }
    .cardAbout .image-section img {
      width: 100%;
      height: auto;
      border-radius: 100%;
      box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.08);
      transition: .2s; }
      .cardAbout .image-section img:hover {
        box-shadow: 0 0 0 12px rgba(0, 0, 0, 0.02); }
  .cardAbout .content-section {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    color: #000;
    text-align: center;
    border-left: 2px solid #ddd;
    position: relative; }
    .cardAbout .content-section .title h1 {
      font-size: 1.6em; }
    .cardAbout .content-section .content h3 {
      font-size: 1.3em; }
    .cardAbout .content-section .content p {
      margin-top: 1rem;
      font-size: 1.3em;
      line-height: 1.5; }

.containerOpinion {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  z-index: 1; }
  .containerOpinion .cardOpinion {
    position: relative;
    width: 28rem;
    height: 30rem;
    margin: 3rem;
    box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.07);
    border-radius: 1.5rem;
    background: rgba(255, 255, 255, 0.1);
    background-image: radial-gradient(#c3dbd9, white);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
    border-left: 0.1rem solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.5rem);
    transition: all 400ms ease; }
    .containerOpinion .cardOpinion:hover {
      transform: translateY(-3%); }
    .containerOpinion .cardOpinion img {
      position: absolute;
      width: 12rem;
      height: 12rem;
      top: 1rem;
      left: 1rem; }
    .containerOpinion .cardOpinion .contentOpinion {
      padding: 2rem;
      text-align: center;
      transition: 0.5s; }
      .containerOpinion .cardOpinion .contentOpinion h2 {
        position: relative;
        text-align: center;
        font-size: 3em;
        font-weight: 500;
        color: #000;
        pointer-events: none; }
      .containerOpinion .cardOpinion .contentOpinion h4 {
        font-size: 2em;
        color: #000;
        z-index: 1; }
      .containerOpinion .cardOpinion .contentOpinion p {
        font-size: 1.5em;
        color: #000;
        font-weight: 500;
        line-height: 1.5; }

@media screen and (max-width: 640px) {
  .containerCard {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0; } }

@media screen and (max-width: 480px) {
  .containerCard {
    width: 90%;
    display: flex;
    flex-flow: row wrap; } }

@media screen and (max-width: 320px) {
  .containerCard {
    width: 90%;
    display: flex;
    flex-flow: row wrap; } }

@media screen and (max-width: 640px) {
  .cardAbout {
    width: 90%;
    flex-flow: column wrap; }
    .cardAbout .image-section {
      width: 100%; }
    .cardAbout .content-section {
      width: 100%;
      border-top: 2px solid #ddd;
      border-left: none; } }

@media screen and (max-width: 480px) {
  .cardAbout {
    width: 90%;
    flex-flow: column wrap; }
    .cardAbout .image-section {
      width: 100%; }
    .cardAbout .content-section {
      width: 100%; } }

@media screen and (max-width: 320px) {
  .cardAbout {
    width: 90%;
    flex-flow: column wrap; }
    .cardAbout .image-section {
      width: 100%; }
    .cardAbout .content-section {
      width: 100%; } }

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem; }
  .gallery .gallery-item {
    flex: 1 0 24rem;
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden; }
  .gallery .gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out; }
    .gallery .gallery-image:hover {
      transform: scale(1.15); }

.gallery-lightboxes .image-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0ms ease-in-out; }
  .gallery-lightboxes .image-lightbox:target {
    opacity: 1;
    visibility: visible; }
    .gallery-lightboxes .image-lightbox:target .image-lightbox-wrapper {
      opacity: 1;
      transform: scale(1, 1) translateY(0); }
  .gallery-lightboxes .image-lightbox .image-lightbox-wrapper {
    transform: scale(0.95, 0.95) translateY(-30px);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
    opacity: 0;
    margin: 1em auto;
    max-width: 75%;
    padding: .5em;
    display: inline-block;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    position: relative; }
    .gallery-lightboxes .image-lightbox .image-lightbox-wrapper .close {
      width: 1.5em;
      height: 1.5em;
      background: #000;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
      border-radius: 50%;
      box-shadow: 0 0 0 2px white inset, 0 0 5px rgba(0, 0, 0, 0.5);
      position: absolute;
      right: -1em;
      top: -1em; }
      .gallery-lightboxes .image-lightbox .image-lightbox-wrapper .close:before {
        content: '';
        display: block;
        width: 10px;
        height: 2px;
        background: #fff;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1px 0 0 -5px;
        transform: rotate(-45deg); }
      .gallery-lightboxes .image-lightbox .image-lightbox-wrapper .close:after {
        content: '';
        display: block;
        width: 10px;
        height: 2px;
        background: #fff;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1px 0 0 -5px;
        transform: rotate(45deg); }
    .gallery-lightboxes .image-lightbox .image-lightbox-wrapper .arrow-left {
      position: absolute;
      top: 0;
      right: 50%;
      bottom: 0;
      left: 0; }
      .gallery-lightboxes .image-lightbox .image-lightbox-wrapper .arrow-left:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #fff;
        border-bottom: 0;
        border-right: 0;
        border-radius: 4px 0 0 0;
        position: absolute;
        top: 50%;
        right: 100%;
        cursor: pointer;
        transform: rotate(-45deg) translateY(-50%); }
    .gallery-lightboxes .image-lightbox .image-lightbox-wrapper .arrow-right {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%; }
      .gallery-lightboxes .image-lightbox .image-lightbox-wrapper .arrow-right:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid #fff;
        border-bottom: 0;
        border-left: 0;
        border-radius: 0 4px 0 0;
        position: absolute;
        top: 50%;
        left: 100%;
        cursor: pointer;
        transform: rotate(45deg) translateY(-50%); }
    .gallery-lightboxes .image-lightbox .image-lightbox-wrapper img {
      margin: 0 auto;
      max-height: 70vh;
      width: 100%; }

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem; }
  .gallery,
  .gallery-item {
    margin: 0; } }

.containerCard {
  width: 100%;
  display: flex;
  max-width: 110rem; }
  .containerCard .card {
    width: 100%;
    margin: 2rem;
    border-radius: .8rem;
    overflow: hidden;
    background: #c3dbd9;
    box-shadow: 0px 0.1rem 1rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 400ms ease; }
    .containerCard .card:hover {
      box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.6);
      transform: translateY(-3%); }
    .containerCard .card img {
      width: 100%;
      height: 21rem; }
    .containerCard .card .content {
      padding: 1.5rem;
      text-align: center; }
      .containerCard .card .content h3 {
        color: #000;
        font-weight: 400;
        margin-bottom: 1.5rem; }
      .containerCard .card .content p {
        color: #000;
        line-height: 1.5;
        font-size: 1.3em; }

.cardShop {
  width: 60rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem gray;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
  background-image: radial-gradient(#c3dbd9, white);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
  border-left: 0.1rem solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.5rem);
  cursor: pointer;
  transition: all 400ms ease; }
  .cardShop:hover {
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.6);
    transform: translateY(-3%); }
  .cardShop .imageShop {
    width: 40%;
    height: 100%;
    padding: 2rem;
    border-right: 2px solid #ddd; }
    .cardShop .imageShop img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.08);
      transition: .2s; }
      .cardShop .imageShop img:hover {
        box-shadow: 0 0 0 12px rgba(0, 0, 0, 0.02); }
  .cardShop .contentShop-section {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    color: #000;
    text-align: center;
    position: relative; }
    .cardShop .contentShop-section .title h1 {
      font-size: 1.6em; }
    .cardShop .contentShop-section .contentShop h3 {
      font-size: 1.3em; }
    .cardShop .contentShop-section .contentShop p {
      margin-top: 1rem;
      font-size: 1.3em;
      line-height: 1.5; }
    .cardShop .contentShop-section .contentShop .button {
      background-color: #c3dbd9;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 10px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 1rem;
      box-shadow: 0 .5rem 1rem gray; }

@media screen and (max-width: 640px) {
  .cardShop {
    width: 90%;
    flex-flow: column wrap; }
    .cardShop .imageShop {
      width: 90%;
      border-bottom: 2px solid #ddd;
      border-right: none; }
    .cardShop .contentShop-section {
      width: 100%; } }

@media screen and (max-width: 480px) {
  .cardShop {
    width: 90%;
    flex-flow: column wrap; }
    .cardShop .imageShop {
      width: 90%; }
    .cardShop .contentShop-section {
      width: 100%; } }

@media screen and (max-width: 320px) {
  .cardShop {
    width: 90%;
    flex-flow: column wrap; }
    .cardShop .imageShop {
      width: 90%; }
    .cardShop .contentShop-section {
      width: 100%; } }

/* Atributos de la seccion CONTACT */
.contactForm {
  font-size: 1.3em;
  color: black;
  margin: 0 auto;
  background-color: #C3DBD9;
  border: 3px solid black;
  border-style: double;
  border-radius: 2rem;
  box-shadow: -1rem .3rem 1rem #cecdcd; }
  .contactForm form input {
    outline: none; }
  .contactForm form textarea {
    outline: none; }
  .contactForm .btn {
    background-color: #ffffff;
    color: black;
    font-size: 1em;
    border-radius: 1rem;
    border-color: black; }

@media screen and (max-width: 576px) {
  .contactForm {
    width: 90%; } }

@media screen and (max-width: 480px) {
  .contactForm {
    width: 90%; } }

@media screen and (max-width: 320px) {
  .contactForm {
    width: 90%; } }

/* Atributos sobre el footer */
footer {
  background-color: #789395;
  padding: 1.2rem 0.31rem;
  min-height: 10vh; }
  footer .footer {
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; }
  footer .disclaimer {
    color: #ffffff;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center; }
  footer .socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap; }
    footer .socialMedia__link {
      width: 4em;
      height: 4em; }

@media screen and (max-width: 576px) {
  footer .disclaimer {
    font-size: 1em; }
  footer .socialMedia {
    transform: scale(0.8); } }

@media screen and (max-width: 480px) {
  footer .disclaimer {
    font-size: 1em; }
  footer .socialMedia {
    transform: scale(0.8); } }
