/* Variables */
/* Uso de Mapa para los paddings aplicado en la pagina WORKS*/
.pad-xlarge {
  padding: 5rem; }

.pad-large {
  padding: 3rem; }

.pad-medium {
  padding: 2rem; }

.pad-small {
  padding: 1.5rem; }

.pad-xsmall {
  padding: 1rem; }

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* GLOBALS */
html {
  font-size: 62.5%; }

body {
  min-height: 100vh;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

/* Helpers */
/* Uso de mixin aplicado en los 5 header y footer*/
.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

header {
  background-image: linear-gradient(#1B4D99, #ffffff);
  padding: 1.2rem 0.31rem;
  height: 15vh; }
  header .navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap; }
    header .navbar .logo {
      flex-basis: 30%; }
    header .navbar .menu {
      flex-basis: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
      flex-wrap: nowrap; }
      header .navbar .menu__item, header .navbar .menu__item--active {
        font-size: 1.3em;
        transition: background-color .3s ease-in-out;
        /* Uso de extend */ }
        header .navbar .menu__item--active {
          border-bottom: 2px solid #ffffff; }
        header .navbar .menu__item:hover, header .navbar .menu__item--active:hover {
          background-color: #ffffff99; }
      header .navbar .menu__link {
        font-size: 1.3em;
        padding: 1rem; }

@media screen and (max-width: 576px) {
  header {
    padding: 1em; }
    header .navbar {
      flex-wrap: wrap;
      justify-content: center; }
    header .menu {
      font-size: .8em;
      font-weight: bold;
      color: #1B4D99;
      display: none; } }

@media screen and (max-width: 480px) {
  header {
    padding: 1em; }
    header .navbar {
      flex-wrap: wrap;
      justify-content: center; }
    header .menu {
      font-size: .8em;
      font-weight: bold;
      color: #1B4D99;
      display: none; } }

#photoSlider .slider {
  position: relative;
  margin: 2rem auto;
  padding: 2rem auto;
  max-width: 100em;
  width: 100%;
  height: 65em;
  min-width: 320px;
  box-shadow: -1rem .5rem 1rem gray; }
  #photoSlider .slider h2 {
    position: absolute;
    background-color: #ffffff99;
    padding: 1.5rem;
    align-items: center;
    left: 50%;
    top: 10rem;
    transform: translate(-50%, 400%); }
  #photoSlider .slider li {
    position: absolute;
    left: 0rem;
    top: 0rem;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s; }
    #photoSlider .slider li img {
      width: 100%;
      height: 100%;
      max-width: 100em; }
  #photoSlider .slider li:first-child {
    opacity: 1; }
  #photoSlider .slider li:target {
    opacity: 1; }

#photoSlider .menuSlide {
  text-align: center;
  padding: 1rem; }
  #photoSlider .menuSlide li {
    display: inline-block; }
    #photoSlider .menuSlide li a {
      background-color: darkgrey;
      width: 2em;
      height: 2em;
      border-radius: 100%; }

@media screen and (max-width: 576px) {
  #photoSlider {
    transform: scale(0.8); } }

@media screen and (max-width: 480px) {
  #photoSlider {
    transform: scale(0.8); } }

/* Atributos de la seccion ABOUT */
.sectionAbout {
  margin: 5rem auto;
  width: 100%;
  min-height: 100vh; }
  .sectionAbout .content-section {
    float: left;
    width: 55%; }
    .sectionAbout .content-section .title {
      font-size: 3em;
      color: #1B4D99; }
    .sectionAbout .content-section .content > h3 {
      margin-top: 1rem;
      font-size: 1.8em;
      color: #1B4D99; }
    .sectionAbout .content-section .content > p {
      margin-top: 0.5rem;
      font-size: 1.3em;
      line-height: 1.5;
      color: #1B4D99;
      text-align: justify;
      padding-right: 1rem; }
  .sectionAbout .image-section {
    float: right;
    width: 40%; }
  .sectionAbout .image-section img {
    width: 80%;
    height: auto;
    box-shadow: -1rem .5rem 1rem gray; }

@media screen and (max-width: 576px) {
  .sectionAbout {
    flex-direction: column;
    justify-content: center;
    min-height: auto; }
    .sectionAbout .content-section {
      float: none;
      width: 80%;
      display: block;
      margin: auto; }
      .sectionAbout .content-section .title {
        text-align: center; }
      .sectionAbout .content-section .content {
        text-align: justify; }
    .sectionAbout .image-section {
      float: none;
      width: 70%;
      display: block;
      margin: auto; } }

@media screen and (max-width: 480px) {
  .sectionAbout {
    flex-direction: column;
    justify-content: center;
    min-height: auto; }
    .sectionAbout .content-section {
      float: none;
      width: 60%;
      display: block;
      margin: auto; }
      .sectionAbout .content-section .title {
        text-align: center; }
      .sectionAbout .content-section .content {
        text-align: justify; }
    .sectionAbout .image-section {
      float: none;
      width: 60%;
      display: block;
      margin: auto; } }

/* Atributos del contenido de WORKS */
.work h5 {
  color: #1B4D99;
  font-size: 1.8em; }

.work p {
  color: #1B4D99;
  font-size: 1.3em; }

.service {
  margin: 5rem auto;
  width: 100%;
  min-height: 320px; }
  .service .card {
    padding: 1rem; }

/* Atributos de la seccion CONTACT */
.contactForm {
  font-size: 1.3em;
  margin: 0 auto;
  background-color: #5c82bd;
  border: 3px solid black;
  border-style: double;
  border-radius: 2rem;
  box-shadow: -1rem .5rem 1rem gray; }
  .contactForm form input {
    outline: none; }
  .contactForm form textarea {
    outline: none; }
  .contactForm .btn {
    background-color: #ffffff;
    color: black;
    font-size: 1em;
    border-radius: 1rem; }

@media screen and (max-width: 576px) {
  .contactForm {
    transform: scale(0.8); } }

@media screen and (max-width: 480px) {
  .contactForm {
    transform: scale(0.8); } }

/* Atributos sobre el footer */
footer {
  background-image: linear-gradient(#ffffff, #1B4D99);
  padding: 1.2rem 0.31rem;
  height: 15vh; }
  footer .footer {
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; }
  footer .disclaimer {
    color: #ffffff;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center; }
  footer .socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap; }
    footer .socialMedia__link {
      width: 4em;
      height: 4em; }

@media screen and (max-width: 576px) {
  footer .disclaimer {
    font-size: 1em; }
  footer .socialMedia {
    transform: scale(0.8); } }

@media screen and (max-width: 480px) {
  footer .disclaimer {
    font-size: 1em; }
  footer .socialMedia {
    transform: scale(0.8); } }
