header {
    background-color: #525E75;
    box-shadow: -1rem 0 1rem gray;

    .navbar {
        justify-content: space-between;
        align-items: center;
        min-height: 10vh;
        padding: 0 2rem;

        &-nav {
            @include flex(row=0, space-around, center, 1rem, nowrap);

            .nav-item {
                font-size: $text-lg;
                color: $secondary;
                transition: background-color .3s ease-in-out;

                .active {
                    border-bottom: 2px solid $secondary;
                }

                &:hover {
                    background-color: #ffffff99;
                }
            }
        }
    }
}