header {
    background-color: linear-gradient($principal, $secondary);
    background-image: linear-gradient($principal, $secondary);
    padding: 1.2rem 0.31rem;
    height: 15vh;

    .navbar {
        justify-content: space-between;
        align-items: center;
        @include flex(row, space-between, center, 1rem, wrap);

        .logo {
            flex-basis: 30%;
        }

        .menu {
            flex-basis: 40%;
            @include flex(row, space-around, center, 1rem, nowrap);

            &__item {
                font-size: $text-md;
                transition: background-color .3s ease-in-out;

                /* Uso de extend */
                &--active {
                    @extend .menu__item;
                    border-bottom: 2px solid $secondary;
                }

                &:hover {
                    background-color: #ffffff99;
                }
            }

            &__link {
                font-size: $text-md;
                padding: 1rem;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    header {
        padding: 1em;

        .navbar {
            flex-wrap: wrap;
            justify-content: center;
        }

        .menu {
            font-size: .8em;
            font-weight: bold;
            color: $principal;
        }
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 1em;

        .navbar {
            flex-wrap: wrap;
            justify-content: center;
        }

        .menu {
            font-size: .8em;
            font-weight: bold;
            color: $principal;
        }
    }
}