/* Atributos de la seccion CONTACT */
.contactForm {
    font-size: $text-md;
    color: black;
    margin: 0 auto;
    background-color: #C3DBD9;
    border: 3px solid black;
    border-style: double;
    border-radius: 2rem;
    box-shadow: -1rem .3rem 1rem #cecdcd;

    form input{
        outline: none;
    }

    form textarea{
        outline: none;
    }

    .btn{
        background-color: $secondary;
        color: black;
        font-size: 1em;
        border-radius: 1rem;
        border-color: black;
    }
}

@media screen and (max-width: 576px){
    .contactForm {
        width: 90%;
    }    
}

@media screen and (max-width: 480px){
    .contactForm {
        width: 90%;
    }    
}

@media screen and (max-width: 320px){
    .contactForm {
        width: 90%;
    }    
}