/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */
html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    color: $secondary;
    font-family: $font-primary;
    display: grid;
    grid-template-rows: auto 1fr auto;
    // border: 2px solid red;
}

ul {
     list-style-type: none;
}
